html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

canvas#app {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.text {
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-size: 5rem;
  background-color: #000000;
}

h1 {
  margin-left: 4rem;
  max-width: 10rem;
}

.texture-canvases {
  display: none;
}
